ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}
.flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.btn-clear {
	border: none;
	background: transparent;
}
.nav-link {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.menu-cities {
	position: absolute;
	display: none;
	background-color: #ccc;
}
.active {
	display: block;
	top: 40px;
	left: 0px;
}
.menu-area > li {
	height: 40px;
	display: flex;
	position: relative;
}
.menu-cities li {
	margin: 0;
}
